/*Esta es una de las hojas de estilo iniciales que se crean automaticamente
Cuando creamos un proyecto de react*/

/*Aqui es agregariamos clases para agregar estilo a nuestros componentes cuando sea necesario*/

.App {
  height:100vh;
  background: lightblue;
}

/*Estilos para el componente tweet*/
.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
